#ip{
    font-size:20px;
    padding:10px;
    border-radius:15px;
}
.container{
    text-align:center;
    border-color:black;
    border-radius:15px;
}
#table{
    margin:auto;
    margin-top:10px;
}
button{
    padding:10px 20px;
     color:#fff;
    background-color:rgb(226, 128, 128);
    border-radius: 10px;
}
.calc{
    display:inline-block;
    background-color: rgb(255, 208, 0);
    border: 7px solid blueviolet;
    border-radius:15px;
    padding:10px;
}
body{
    background-color: rgb(126, 210, 30);
}
h1{
    text-color:rgb(32, 13, 206);
    text-transform:capitalize;
}
h2{
margin-top:200px;
text-align:center;
font-size:30px;
color:rgb(75, 2, 104);
}
.a{
    background-color:red;
    width:100px;
}
.c{
    background-color:rgb(181, 65, 129);
}